body {
    margin: 0;
    background-color: #1F2937;
    text-align: left;
    margin-left: 25px;
}
h1{
    color: white;
}
.green {
    color: #10B981;
}
h2{
    color: #D5D4D8;
}
button{
    color: white;
    padding: 10px 20px;
    background-color: #10B981;
    font-weight: bold;
    
}
p{
    color: #10B981;
    border: 2px solid #1F2937;
    background-color: #273549;
    display: inline-block;  
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10%;
}